
 <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Blog</h6>
                <h1>Latest From Our Blog</h1>
            </div>
            <div class="row pb-3">
              {%- for block in section.blocks -%}
            
              <div class="col-lg-4 col-md-6 mb-4 pb-2">
                    <div class="blog-item">
                        <div class="position-relative">
                            <img class="img-fluid w-100" src="{{ block.settings.img1 | img_url: '1536x' }}" alt=""
                             width="70" height="120"
                             loading="eager">
                            <div class="blog-date">
                                <h6 class="font-weight-bold mb-n1">{{ block.settings.block_number}}</h6>
                                <small class="text-white text-uppercase">{{ block.settings.block_name}}</small>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="d-flex mb-2">
                                <a class="text-primary text-uppercase text-decoration-none" href="">{{ block.settings.block_cargo}}</a>
                                <span class="text-primary px-2">|</span>
                                <a class="text-primary text-uppercase text-decoration-none" href="">{{ block.settings.block_ocupacion}}</a>
                            </div>
                            <a class="h5 m-0 text-decoration-none" href="">{{ block.settings.block_descripcion }}</a>
                        </div>
                    </div>
                </div>
          {%- endfor -%}
                
                
            </div>
        </div>
    </div>
 
{% schema %}
  {
    "name": "travel-blog",
     "settings": [
   
     ]
    ,
      "blocks": [
          {
          "type": "text_block",
          "name": "configuracion",
          "settings": [
            {"type": "image_picker",
          "id": "img1",
          "label": "imagen del contenedor"
          
        }
            ,
            {
          "type": "text",
          "id": "block_number",
          "label": "Numero de blog",
          "default": "#"
        }
            ,
            {
          "type": "text",
          "id": "block_name",
          "label": "Nombre del autor de blog",
          "default": "name"
        }
            ,
            {
          "type": "text",
          "id": "block_cargo",
          "label": "Cargo",
          "default": "cargo"
        }
            ,
            {
          "type": "richtext",
          "id": "block_descripcion",
          "label": "Descripcion del blog",
          "default": "<p>Dolor justo sea kasd lorem clita justo diam amet</p>"
        }
            
           
            
           
          ]
        }
        
      
        
      ],
      "presets": [
        {
        "name": "travel-blog",
          "category": "Custom content",
          "blocks": [
             
          
          ]
        }
        
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}