<link rel="stylesheet" href="{{ 'tempusdominus-bootstrap-4.min.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'owl.carousel.min.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'style.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h6>
                <h1>What Say Our Clients</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center pb-4">
                    <img class="img-fluid mx-auto" src="{{ section.settings.image | img_url: '1536x' }}" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                        </p>
                        <h5 class="text-truncate">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="{{ section.settings.image2 | img_url: '1536x' }}" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                        </p>
                        <h5 class="text-truncate">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="{{ section.settings.image3 | img_url: '1536x' }}" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                        </p>
                        <h5 class="text-truncate">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
                <div class="text-center">
                    <img class="img-fluid mx-auto" src="{{ section.settings.image4 | img_url: '1536x' }}" style="width: 100px; height: 100px;" >
                    <div class="testimonial-text bg-white p-4 mt-n5">
                        <p class="mt-5">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                        </p>
                        <h5 class="text-truncate">Client Name</h5>
                        <span>Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer="async"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"defer="async"></script>
<script src="{{ 'waypoints.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'counterup.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'easing.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'owl.carousel.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'moment.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'moment-timezone.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'tempusdominus-bootstrap-4.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "travel-testimonial",
     "settings": [ {
          "type": "image_picker",
          "id": "image",
          "label": "imagen del testigo"
          
        },
       {
          "type": "image_picker",
          "id": "image2",
          "label": "imagen del testigo"
          
        },
       {
          "type": "image_picker",
          "id": "image3",
          "label": "imagen del testigo"
          
        },
       {
          "type": "image_picker",
          "id": "image4",
          "label": "imagen del testigo"
          
        }
     ],
     "blocks": [
           {
          "type": "text_block",
          "name": "configuracion",
          "settings": [
           
          ]
           }
           
        
      
        
      ],
      "presets": [
        {
        "name": "travel-testimonial",
          "category": "Custom content",
          "blocks": [
            
           
            
          ]
        }
        
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}